# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/

# Log files
*.log

# Python egg files
*.egg-info/

# Ignore IDE configuration
.vscode/
.idea/

# Ignore environment variables
.env

# Ignore Docker files
docker-compose.yml
Dockerfile
